@model IEnumerable<LibrarySystem.Models.Book>

@{
    ViewBag.Title = "Home Page";
}

<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>


<div class="jumbotron">

    <h2>Library System</h2>
    <p class="lead">Your guide through thousands of thousands of books from different countries and types.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/StrockOfBooks.jpg" />
            <div class="caption">
                <h3>Up To Date</h3>
                <p>Library System ensures that it always delivers new books to its database for you to discover and lean more about</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/Library.jpg" alt="...">
            <div class="caption">
                <h3>Fast and Easy</h3>
                <p>Our system uses the latest internet technology just to make navigating through the thousands of books fast and easy</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/Reading.jpg" />
            <div class="caption">
                <h3>Quiet Simple</h3>
                <p>
                    As a reader you sure like to read in quiet. well, we made it quiet simple to get the book you seek and learn more about it before buying
                </p>
            </div>
        </div>
    </div>
</div>

@if (Request.IsAuthenticated)
{
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Recommended For You</h3>
        </div>
        <div class="panel-body">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-sm-12 col-lg-3">
                    <div class="thumbnail">
                        <img src="@Url.Content(item.Image)" />
                        <div class="caption">
                            <h3>@item.Title</h3>
                            <p>
                                @item.Description
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}