@{
    ViewBag.Title = "Home Page";
}

<ol class="breadcrumb">
    <li class="active">Home</li>
</ol>


<div class="jumbotron">

    <h2>Library System</h2>
    <p class="lead">Your guide through thousands of thousands of books from different countries and types.</p>
</div>


<div class="row">
    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/StrockOfBooks.jpg" />
            <div class="caption">
                <h3>Up To Date</h3>
                <p>Library System ensures that it always delivers new books to its database for you to discover and lean more about</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/Library.jpg" alt="...">
            <div class="caption">
                <h3>Fast and Easy</h3>
                <p>Our system uses the latest internet technology just to make navigating through the thousands of books fast and easy</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="thumbnail">
            <img src="~/Images/Reading.jpg" />
            <div class="caption">
                <h3>Quiet Simple</h3>
                <p>
                    As a reader you sure like to read in quiet. well, we made it quiet simple to get the book you seek and learn more about it before buying
                </p>
            </div>
        </div>
    </div>
</div>

@*<div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@